* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
	color: var(--vscode-foreground);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;
}

